@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%; 
    height: 100%; 
}


body {
    background-color: white;
    font-family: 'EB Garamond', serif;
}



/* ---------- HEADER/NAVBAR ----------- */

header {
    display: flex;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid;
    border-color: rgb(0, 0, 0);
    margin: 0 auto;
    justify-content: space-between;
}

#navbarlist {
    height: 70px;
    margin-top: 0;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

#navbarlist > li {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
    border-right: 1px solid #000; 
    padding: 0 15px; 
    color: rgb(21, 21, 122);
}


#navbarlist > li > a {
    text-decoration: none;
    color: rgb(21, 21, 122);
}

#navbarlist > li:last-child {
    border-right: none; 
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}


#accountlinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    color: rgb(21, 21, 122);
}

#accountlinks li {
    position: relative;
    display: inline-block;
    color: rgb(21, 21, 122);
}

#accountlinks li:hover .dropdown-menu {
    display: block;
    z-index: 100; 
}

.dropdown-menu {
    position: absolute;
    right: 0;
    width: 300px;
    display: none;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}


#accountDropdown {
    top: 100%;
    width: 300px;
}

#logo {
    margin-right: 220px;
}

#mobileaccount {
    display: none; 
}

#mobilemenu {
    display: none;
}

.account-text {
    display: block; 
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: black;
    padding: 0 15px 0 15px; 
}

#accountLink {
    color: rgb(21, 21, 122);
    text-decoration: none;
}

#usericon {
    display: none;
}

@media (max-width: 769px) {

    .account-text {
        display: none; 
    }


    #usericon {
        display: block;
        color: rgb(21, 21, 122);
        font-size: 30px;
        margin-top: 10px;
    }

    .account {
        margin-right: 30px; 
        justify-content: flex-end;
    }

    #navbarlist {
        display: none;
    }

    #mobilemenu {
        display: block;
        position: relative;
        margin-left: 25px;
        margin-top: 15px;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid;
        border-color: black;
        border-radius: 3px;
        background-color: white;
        color: rgb(21, 21, 122);
    }

    #hamburgerlist {
        display: none;
        list-style-type: none;
        background-color: white;
        text-decoration: none;
        color: rgb(21, 21, 122);
    }

    #hamburgerlist > li {
        font-size: 25px;
        padding: 10px 15px 10px 15px;
        text-decoration: none;
        color: rgb(21, 21, 122);
        border-top: 2px solid;
        border-color: black;
    }

    #hamburgerlist > li:last-child {
        padding-right: 0;
    }

    #hamburgerlist > li > a {
        font-size: 25px;
        padding: 0px 15px 0px 15px;
        text-decoration: none;
        color: rgb(21, 21, 122);
    }
}

@media (max-width: 825px) {
    #logo {
        margin-right: 0px;
    }
    
}



/*--------------- HOME PAGE ------------- */

#home {
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

#banner1 {
    display: flex;
    min-height: 55vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("Images/HomeBanner3.png");
    background-size: 100% 100%;
    border-bottom: 3px solid;
    border-color: rgb(21, 21, 122);
    background-position: center;
}


#belowbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(21, 21, 122);
    color: white;
    border-bottom: 2px solid;
    border-color: black;
    text-align: center;
}



#searchbar {
    max-width: 600px; 
    width: 600px; 
    height: 50px;
    padding-left: 20px;
    border: 2px solid;
    border-color: black;
}

#SearchButton {
    margin-left: -65px;
    padding: 8px;
    background-color: rgb(21, 21, 122);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 11px;
}


#trending {
    margin-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(21, 21, 122);
    text-decoration: underline;
}


#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; 
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    
}

#content img {
    width: 500px;  /* Set your desired width */
    height: 400px; /* Set your desired height */
    object-fit: cover; /* This will maintain the aspect ratio */
}


#box1, #box2, #box3 {
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 400px; 
    max-width: 500px; 
    color: rgb(21, 21, 122);
    
}

#boxshadow {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@media screen and (max-width: 769px) {
    #content {
      flex-direction: column;
      padding: 0px;
      max-width: 390px;
    }
    

    #banner1 {
        min-height: 40vh; 
        background-image: url('Images/HomeBannersmall2.png');
        background-size: 100% 100%;
        background-position: center
    }

    #belowbanner {
        font-size: 14px;
    }



    #boxshadow {
        margin-bottom: 30px;
        
    }
        
    #content h1 {
        font-size: 24px;
    }


    #content img {
    padding: 0px;
    max-width: 390px;
    }


    #SearchButton {
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 30px;

    }
    
    #searchbar {
        margin-left: 20px;
        width: 200px;
        height: 20px;
        margin-bottom: 30px;
    }

 }

 @media screen and (max-width: 1050px) {
    #content {
      max-width: 500px;
    }

    #boxshadow {
        margin-bottom: 20px;
    }

 }

 @media screen and (max-width: 850px) {
    #content img {
        padding: 0px;
        max-width: 600px;
        }

    #boxshadow {
        margin-bottom: 20px;
    }

 }

 @media screen and (max-width: 500px) {
    #content img {
        padding: 0px;
        max-width: 300px;
        }

 }






 /* -------------- LOGIN/REGISTER FORM --------------- */

#mainloginForm {
    display: flex;
    margin: 0 auto;
    width: 50%;
    align-content: center;
}

#mainregisterForm {
    display: flex;
    margin: 0 auto;
    width: 50%;
    align-content: center;
}

 #register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}


 .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: rgb(21, 21, 122);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 21, 122);;
}




/* -------------- PROFILE PAGE ------------- */

#profilepage {
    background-color: white;
}

#switchbuttons {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#profilecontainer, #profilecontainer1 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    border: 1px solid;
    border-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


#icon {
    flex: 1;
    flex-basis: 250px; 
    max-width: 300px; 
    margin: 2%;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
}

#info {
    flex: 2;
    flex-basis: 500px; 
    margin: 2%;
    color: rgb(21, 21, 122);
}

#info > ul {
    font-size: 20px;
}

#info > ul > li {
    margin-left: 25px;
}


#topsection {
    display: flex;
    flex-wrap: wrap;
    background-color: ivory;
    border-radius: 15px;
}


#accountcontainer {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

#accountform {
    height: auto;
    width: 70%;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: ivory;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: rgb(21, 21, 122);
    padding-bottom: 30px;
}

.formsubmit {
    width: 30%; 
    margin: 0 auto;
    margin-top: 30px;
}


@media (max-width: 769px) {
    #topsection {
        flex-direction: column; 
        
    }

    #icon {
        margin-left: 35px; 
    }

    .formsubmit {
        width: 50%; 
        margin: 0 auto;
        margin-top: 30px;
    }
}



@media (min-width: 1024px) {
    #icon {
        max-width: 400px; 
    }
}

@media (min-width: 769px) {
    #icon {
        max-width: 370px; 
        margin: 0;
    }
}



/* -------------- JOBS PAGE ------------- */
#jobspage {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
}

#jobslist {
    width: 80%;
}

#filterbar {
    min-height: 100vh;
    width: 15%;
    background-color: ivory;
    color: black;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: black;
    border-radius: 3px;
    color: rgb(21, 21, 122);
    font-size: 20px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.joblisting {
    display: flex;
    flex-direction: row;
    background-color: ivory;
    border: 1px solid;
    border-radius: 10px;
    border-color: black;
    color: rgb(21, 21, 122);
    margin-top: 20px;
    margin-left: 20px;
    padding: 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.jobdetails {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 22px;
}

#toggleFiltersButton {
    display: none; 
}


.pagination {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: white;
}

.pagination a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: rgb(21, 21, 122);;
    color: white;
}


@media (max-width: 768px) {
    #jobspage {
        flex-direction: column; 
        align-items: center; 
    }

    #toggleFiltersButton {
        display: block; 
        width: 100%; 
        padding: 15px 0; 
        background-color: rgb(21, 21, 122); 
        color: white; 
        margin-bottom: 10px; 
    }

    #filterForm {
        display: none; 
    }

    #filterForm.show {
        display: block; 
    }

    #filterbar {
        display: block; 
        width: 90%; 
        margin-left: 0; 
        min-height: 0vh;
    }

    #jobslist {
        width: 100%; 
    }

    .joblisting {
        margin-left: 0px;
    }
}


@media (max-width: 1024px) {

    #jobimg img {
        max-width: 200px;
        height: auto;
    }

}

@media (max-width: 769px) {


    #jobimg img {
        max-width: 200px;
    }

}


/* -------------- CONTACT PAGE --------------- */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

#contactform {
    height: 700px;
    width: 70%;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    background-color: ivory;
}

/* -------------- FOOTER --------------- */

.spacer {
    height: 100px;
    background-color: white;
}

  
footer {
    height: 300px;
    width: 100%;
    padding: 0;
    display: flex;
    border-top: 2px solid;
    border-color: black;
    background-color: rgb(21, 21, 122);
}

.footerlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0 20px; 
    color: white;
}

.footerlists1, .footerlists2, .footerlists3 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 33%; 
}

.footerlists ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

.footerlists li {
    font-size: 18px;
    margin: 5px 0; 
}

.footerlists li:first-child {
    padding-bottom: 30px;
}
