@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}




body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'EB Garamond', serif;
}


/* ---------- HEADER/NAVBAR ----------- */

header {
    display: flex;
    height: 70px;
    background-color: ivory;
    border-bottom: 3px solid;
    border-color: rgb(0, 0, 0);
    margin: 0 auto;
    justify-content: space-between;
}

#navbarlist {
    height: 70px;
    margin-top: 0;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

#navbarlist > li {
    list-style-type: none;
    text-decoration: none;
    font-size: 22px;
    border-right: 1px solid #000; 
    padding: 0 15px; 
    color: rgb(21, 21, 122);
}


#navbarlist > li > a {
    text-decoration: none;
    color: rgb(21, 21, 122);
}

#navbarlist > li:last-child {
    border-right: none; 
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}


#accountlinks {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    color: rgb(21, 21, 122);
}

#accountlinks li {
    position: relative;
    display: inline-block;
    color: rgb(21, 21, 122);
}

#accountlinks li:hover .dropdown-menu {
    display: block;
    z-index: 100; 
}

.dropdown-menu {
    position: absolute;
    right: 0;
    width: 300px;
    display: none;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}


#accountDropdown {
    top: 100%;
    width: 300px;
}

#mobileaccount {
    display: none; 
}

#mobilemenu {
    display: none;
}


@media (max-width: 769px) {
    #navbarlist {
        display: none;
    }

    #mobilemenu {
        display: block;
        position: relative;
        margin-left: 25px;
        margin-top: 15px;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid;
        border-color: black;
        border-radius: 3px;
        background-color: white;
        color: rgb(21, 21, 122);
    }

    #hamburgerlist {
        display: none;
        list-style-type: none;
        background-color: white;
        text-decoration: none;
        color: rgb(21, 21, 122);
    }

    #hamburgerlist > li {
        font-size: 25px;
        padding: 0px 15px 0px 15px;
        text-decoration: none;
        color: rgb(21, 21, 122);
        border-top: 2px solid;
        border-color: black;
        padding: 10px 0px 10px 0px;
    }

    #hamburgerlist > li > a {
        font-size: 25px;
        padding: 0px 15px 0px 15px;
        text-decoration: none;
        color: rgb(21, 21, 122);
    }
    

}

.account-text {
    display: block; 
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: black;
    padding: 0 15px 0 15px; 
}

#accountLink {
    color: rgb(21, 21, 122);
    text-decoration: none;
}

#usericon {
    display: none;
}

@media (max-width: 769px) {


    .account-text {
        display: none; 
    }

    #usericon {
        display: block;
        color: rgb(21, 21, 122);
        font-size: 30px;
        margin-top: 10px;
    }

    .account {
        margin-right: 30px; 
        justify-content: flex-end;
    }
}







/*--------------- HOME PAGE ------------- */

#home {
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

#banner1 {
    display: flex;
    min-height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("Images/HomeBanner2.png");
    background-size: cover;
    border-bottom: 3px solid;
    border-color: rgb(21, 21, 122);
}


@media (max-width: 769px) {
    #banner1 {
        min-height: 18vh; 
        background-image: url('Images/HomeBannerSmall.png');
        background-size: contain;
    }
}

#belowbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(21, 21, 122);
    color: white;
    border-bottom: 3px solid;
    border-color: black;
}



#searchbar {
    max-width: 500px; 
    width: 500px; 
    height: 40px;
    padding-left: 20px;
    border: 2px solid;
    border-color: black;
}

#SearchButton {
    margin-left: -65px;
    padding: 8px;
    background-color: rgb(21, 21, 122);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 11px;
}

@media (max-width: 769px) {
    #SearchButton {
        margin-left: 0px;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 16px;

    }
}

@media (max-width: 769px) {
    #searchbar {
        margin-left: 20px;
        width: 200px;
        height: 20px;
        margin-bottom: 16px;
    }
}


#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; 
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

#box1, #box2, #box3 {
    flex-grow: 1;
    align-items: center;
    background-color: rgb(21, 21, 122);
    min-height: 400px; 
    max-width: 500px; 
    color: white;
    margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
    #content {
      flex-direction: column;
      padding: 0px;
    }
 }







 /* -------------- LOGIN/REGISTER PAGE --------------- */

 #register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}


 .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: rgb(21, 21, 122);
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(21, 21, 122);;
}



/* -------------- PROFILE PAGE ------------- */

#profilepage {
    background-color: white;
}

#profilecontainer {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 70%;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
}

#icon {
    flex: 1;
    flex-basis: 250px; 
    max-width: 300px; 
    margin: 2%;
    border: 3px solid;
    border-color: black;
}

#info {
    flex: 2;
    flex-basis: 500px; 
    margin: 2%;
}


@media (min-width: 1024px) {
    #icon {
        max-width: 400px; 
    }
}


#topsection {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
}

@media (max-width: 768px) {
    #topsection {
        flex-direction: column; 
    }
}





/* -------------- FOOTER --------------- */

  
footer {
    height: 300px;
    width: 100%;
    margin-top: auto; /* IMPORTANT!! After hours of troubleshooting, I found for some reason this stops the footer from being at a set height in the page, 
                         e.g keeps it attached to the bottom of the page rather than new content being placed after it; and unfortunately I can't explain why */
    padding: 0;
    display: flex;
    border-top: 5px solid;
    border-color: black;
    background-color: rgb(21, 21, 122);
}

.footerlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0 20px; 
    color: white;
}

.footerlists1, .footerlists2, .footerlists3 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 33%; 
}

.footerlists ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

.footerlists li {
    font-size: 18px;
    margin: 5px 0; 
}

.footerlists li:first-child {
    padding-bottom: 30px;
}
